{% extends "qrcode_manager/base.html" %}
{% load allauth i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}
{% endblock body %}
{% block content %}
hello {{ name }}
    <form action="{% url 'qrcode_manager:index' %}" method="post" class="form">
     {% csrf_token %}

  {% bootstrap_form qr_preview_form %}
     {% bootstrap_button button_type="submit" content="OK" %}
  {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>
    {% if qr_image %}
        <img src="{% get_media_prefix %}qrcode/{{ qr_image }}" alt="QR Code" />
    {% endif %}
{% endblock content %}